@font-face {
  font-family: "nasin-nanpa";
  src: url("https://github.com/ETBCOR/nasin-nanpa/raw/main/versions/nasin-nanpa.otf");
}
body {
  margin: 10px;
  font-family: sans-serif;
}
a {
  color: #0057af;
}
a:visited {
  color: #551a8b;
}
#input {
  font-family: "nasin-nanpa", sans-serif;
  box-sizing: border-box;
  resize: vertical;
  width: 100%;
}
#error,
#error-list {
  color: #b60000;
}
.align-right {
  text-align: right;
}
summary {
  cursor: pointer;
}
@media (min-width: 800px) {
  body {
    margin: 50px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  a {
    color: #3197ff;
  }
  a:visited {
    color: #b47de7;
  }
  #error,
  #error-list {
    color: #ff5e5e;
  }
}
